@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3vw;
  margin-bottom: 0.5rem;
}

h6 {
  margin: 0 0 0.1rem 0;
}
