.maxWidth {
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  border-radius: 30px;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
  color: white;
  padding: 0.1rem 2rem;
  font-size: 0.9rem;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.6rem;
  margin: 0.4rem 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.1);
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}
