.loader {
  position: fixed;
  top: 50%;
  left: 50%;
}

.spinner > div {
  width: 0.6rem;
  height: 0.6rem;
  margin: 0.2rem;
  background-color: rgb(255, 255, 255);

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
