@import "../../sass/vars";

.projectCard {
  border-radius: $borderRadius;
  padding: 4rem;
  background-image: url("/images/bg/bg_1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  cursor: pointer;
  backdrop-filter: blur(10px);
  color: white;
  box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.2), 0px 0px 39px rgba(0, 0, 0, 0.14);
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardHeader h2 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.tag {
  font-weight: normal;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.4);
  margin-left: 0.6rem;
}

.leftBar {
  width: 65%;
}

.rightBar {
  width: 30%;
  display: flex;
  justify-content: center;
}

.rightBar > div {
  width: 100%;
}

.rightBarHeader {
  text-align: center;
}

.description {
  margin-top: 1rem;
  font-size: 0.8rem;
  width: 60ch;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.4rem;
}
