@import "../../sass/vars";

.projectCard {
  border-radius: $borderRadius;
  background-color: antiquewhite;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  cursor: pointer;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardHeader h2 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.tag {
  font-weight: normal;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 0.6rem;
}

.leftBar {
  width: 65%;
}

.rightBar {
  width: 30%;
}

.rightBarHeader {
  text-align: center;
}
