@import "../../sass/vars";

.projectCard {
  border-radius: $borderRadius;
  background-color: antiquewhite;
  padding: 0.6rem 2.4rem;
  display: flex;
  justify-content: space-between;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag {
  font-weight: normal;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 0.6rem;
}

.leftBar,
.rightBar {
  width: 50%;
}
