.setThemeWrap {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin-left: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.gradientsWrap {
  display: flex;
  margin-top: 2rem;
  flex-flow: row wrap;
  gap: 2rem;
  width: 34vw;
  max-width: 50rem;
}
