.wrap {
  min-height: 100vh;
}

.projectWrap {
  margin-top: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  margin: 0;
}

.tag {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 1.4rem;
}

.tag > span {
  margin: 0;
}

.titleWithAddOns {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.shortcutsWrap {
  display: flex;
  gap: 1rem;
  width: max-content;
  position: relative;
}

.info {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.4rem;
  margin-top: 1rem;
}

.description {
  width: 70ch;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.6rem;
}
.addUrl {
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 0 2rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.addUrl::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.addShortcut {
  cursor: pointer;
}
