@import "../../../../sass/vars.scss";

.wrap {
  min-height: 100vh;
  color: white;
}

.projectWrap {
  margin-top: 2rem;
  padding-bottom: 4rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  margin: 0;
}

.tag {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.4);
  margin-right: 1.4rem;
}

.tag > span {
  margin: 0;
}

.titleWithAddOns {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.shortcutsWrap {
  display: flex;
  gap: 1rem;
  width: max-content;
  position: relative;
}

.info {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.4rem;
  margin-top: 1rem;
}

.description {
  width: 70ch;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.6rem;
}
.addUrl {
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 0 2rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.addUrl::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.addShortcut {
  cursor: pointer;
}

.headerRight {
  display: flex;
  align-items: center;
}

.headerRight img {
  cursor: pointer;
}

.divider {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mainWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats {
  color: white;
  text-align: center;
  display: flex;
  gap: 5rem;
  width: 40%;
}

.stats > * {
  margin-bottom: 1rem;
}

.statCard {
  color: white;
  padding: 2rem;
  user-select: none;
}

.projectInfo {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding: 1.6rem 2.4rem;
}
