.dueCard {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.4rem 1rem;
  display: inline-block;
  font-size: 0.8rem;
  user-select: none;
  transition: 0.4s ease-in-out all;
  position: relative;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

.dueCard:hover {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.dateWrap {
  position: relative;
}

.dateWrap input[date] {
  position: absolute;
}

.dateWrap input[type="date"] {
  position: absolute;
  left: 0;
  bottom: -4rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
}
