.navWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
  position: relative;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navImgWrap {
  border-radius: 50%;
  overflow: hidden;
  height: 30px;
  width: 30px;
  position: relative;
  cursor: pointer;
  transition: 0.4s ease-in-out all;
}

.navImgWrap:hover {
  border-radius: 30%;
}

.dropdown {
  position: absolute;
  bottom: -14px;
  right: 0;
}

.dropdown button {
  border: none;
  outline: none;
  padding: 0.4rem 2rem;
  background-color: rgba(218, 218, 218, 0.5);
  transition: 0.4s ease-in-out all;
  cursor: pointer;
}

.dropdown button:hover {
  background-color: rgb(179, 86, 255, 0.4);
}

.logoNavWrap {
  display: flex;
  align-items: center;
  user-select: none;
}

.logoNavWrap *:last-child {
  margin-left: 0.4rem;
}
