.openSourceWrap {
  color: white;
  min-height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}

.openSourceContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.btnWrap {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  gap: 2rem;
  justify-content: center;
}

.openSourceLogo {
  color: rgb(24, 72, 204);
}

.star {
  position: absolute;
}
