.todosWrapper {
  list-style-type: none;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  max-height: 8rem;
}

/* Handle */
.todosWrapper::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.377);
  border-radius: 30px;
}
