.bgHero {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.login {
  align-self: flex-end;
  width: max-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
}

.bgVid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backdrop-filter: hue-rotate(90deg);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5),
    rgba(4, 8, 228, 0.582)
  );
  mix-blend-mode: overlay;
}

.heroBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.heroView {
  position: relative;
  z-index: 5;
  color: white;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.titleWrap > h1 {
  font-size: 5vw;
  font-weight: 800;
  line-height: 4rem;
}

.titleWrap > p {
  width: 50ch;
  opacity: 0.8;
}

.heroBanner {
  width: 50ch;
  display: flex;
  flex-flow: column nowrap;
}
