.buttonWrap {
  display: flex;
  justify-content: space-around;
  background-color: white;
  position: fixed;
  bottom: -64px;
  border-radius: 20px 20px 0 0;
  padding: 1rem;
  min-width: 20rem;
  left: 50%;
  transform: translateX(-50%);
  &:hover {
    bottom: 0;
  }
}
