.cardList {
  list-style-type: none;
}

.taskCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.4rem 1rem;
}

.taskCard img {
  cursor: pointer;
}

.taskCard > p {
  margin: 0.4rem 0;
  max-width: 80%;
}
